# BLU01 - Exercises Notebook

**Important Note**

Attention Windows users: The grader will run on Linux, and using power shell statements will not work.

In [1]:
import chardet
import hashlib # for grading purposes
import math
import numpy as np
import csv
import pandas as pd
import random

## Q1: Use a shell command to count lines

Count the total number of lines of files data/exercises/dog.txt and data/exercises/dog_intelligence.txt and store the result in variable called count_total.  
There is more than one way to do this. Hint: concatenate both files.

In [2]:
# count_total = ...
first_file = !wc -l < data/exercises/dog.txt
second_file = !wc -l < data/exercises/dog_intelligence.txt
count_total = int(first_file[0]) + int(second_file[0])
count_total

8

In [3]:
count_total = !cat data/exercises/dog.txt data/exercises/dog_intelligence.txt | wc -l
count_total = int(count_total[0])
count_total

8

In [4]:
expected_hash = '2c624232cdd221771294dfbb310aca000a0df6ac8b66b696d90ef06fdefb64a3'
assert hashlib.sha256(str(count_total).encode()).hexdigest() == expected_hash, "count_total is wrong"

![title](./media/dog_1.jpeg)


Now store in 2 variables the first fourth and the last fourth of the lines of the file data/exercises/dog.txt.

In [5]:
# NOT GRADED optional exercise!!
# Add the first and last fourth of the lines to the variables first_third and last_third. 
# Make it work to any files using count_total_dog / 4 for instance in the bash commands
# count_total_dog = 
# first_fourth = ...
# last_fourth = ...
# YOUR CODE HERE
filename = "./data/exercises/dog.txt"
# Count total lines in dog.txt
count_total_dog = !wc -l < {filename}
count_total_dog = int(count_total_dog[0])

# Calculate one-fourth of the total line count
one_fourth = count_total_dog // 4

# Extract the first and last fourth of the lines
first_fourth = !head -n {one_fourth} {filename}
last_fourth = !tail -n {one_fourth} {filename}

In [6]:

filename = "./data/exercises/dog.txt"

count_total_dog =!wc -l < {filename}

first_fourth = !head -{int(int(count_total_dog[0])/4)} < {filename}

last_fourth = !tail -{int(int(count_total_dog[0])/4)} < {filename}

In [7]:
# Test the first_fourth and last_fourth exercise by running the following (ungraded) asserts.
assert first_fourth[-1][0] == 'T'
assert last_fourth[0][0] == 'S'

## Q2: Read a file with specific delimiter

Read file **data/exercises/breed_info.csv** into a pandas DataFrame. This file contains information about dog breeds, including minimum and maximum heights and weights.

First, you should preview the file using a shell command in order to find out the used delimiter, and other properties of this file.

Then, you should use the function read_csv to read the data into a DataFrame. The resulting DataFrame should have the first column as index.

In [8]:
# Use a shell command to preview the data
# ! ...
# YOUR CODE HERE
#!cat data/exercises/breed_info.csv

# Use function read_csv to read the data into a DataFrame
# df2 = pd.read_csv(...)
# YOUR CODE HERE
df2 = pd.read_csv('data/exercises/breed_info.csv', sep=';',index_col=1)
df2

,index,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
Breed,,,,,
Akita,0,26.0,28.0,80,120
Anatolian Sheepdog,1,27.0,29.0,100,150
Bernese Mountain Dog,2,23.0,27.0,85,110
Bloodhound,3,24.0,26.0,80,120
Borzoi,4,26.0,28.0,70,100
...,...,...,...,...,...
Papillon,145,8.0,11.0,5,10
Pomeranian,146,12.0,12.0,3,7
Poodle Toy,147,10.0,10.0,10,10
Toy Fox Terrier,148,10.0,10.0,4,7
Yorkshire Terrier,149,8.0,8.0,3,7

In [9]:
assert df2.loc['Bernese Mountain Dog', 'height_low_inches'] == 23.0, "df2 data is wrong, the lower range of the height of the Bernese Mountain Dog is incorrect."
assert len(df2.columns) == 5, "df2 data is wrong, the number of columns does not match what is expected."
assert len(df2) == 148, "df2 data is wrong, the length is different than expected."
assert df2.index[34] == 'English Setter', "df2 data is wrong, the positions are wrong."

expected_hash = 'd1ac8a80937c65bd103bb3aab437b45ee947eff75901f671d68f895e35eb09d2'
assert hashlib.sha256(df2.index.name.encode()).hexdigest() == expected_hash

## Q3: Read a csv file with problems

Read file **data/exercises/breed_info_w_problems.csv** using function `read_csv`. Pay attention to the following:
* use the first column as index
* there are some inputs in the file that should be interpreted as NaN, make sure you select the right one when reading the file!

In [10]:
!cat data/exercises/breed_info_w_problems.csv

149;Yorkshire Terrier;8;8;3;7

In [11]:
# Read file data/exercises/breed_info_w_problems.csv with read_csv
# df3 = pd.read_csv(...)
# YOUR CODE HERE
df3 = pd.read_csv("data/exercises/breed_info_w_problems.csv",
                  sep=";",
                  index_col=1,
                 na_values=['na','not found'])
df3

,index,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
Breed,,,,,
Akita,0,26.0,28.0,80.0,120.0
Anatolian Sheepdog,1,27.0,29.0,100.0,150.0
Bernese Mountain Dog,2,23.0,27.0,85.0,110.0
Bloodhound,3,24.0,26.0,80.0,120.0
Borzoi,4,26.0,28.0,70.0,100.0
...,...,...,...,...,...
Papillon,145,8.0,11.0,5.0,10.0
Pomeranian,146,12.0,12.0,3.0,7.0
Poodle Toy,147,10.0,10.0,10.0,10.0
Toy Fox Terrier,148,10.0,10.0,4.0,7.0
Yorkshire Terrier,149,8.0,8.0,3.0,7.0

In [12]:
assert np.isnan(df3.loc['Poodle Standard','weight_high_lbs']), "df3 data is wrong, there seems to be inputs that were not interpreted as NaN."
assert df3.loc['Kuvasz', 'weight_low_lbs'] == 70, "df3  data is wrong, the lower range of the weight of the Kuvasz cannot be found."
assert df3.index[3] == 'Bloodhound', "df3 data is wrong, the positions of the object are wrong."

expected_hash = 'd1ac8a80937c65bd103bb3aab437b45ee947eff75901f671d68f895e35eb09d2'
assert hashlib.sha256(df3.index.name.encode()).hexdigest() == expected_hash

## Q4: Repair a csv file after importing
Read a new file **data/exercises/pet_stats.csv** using the function `csv.reader()`. This file includes information about the different pet populations. Be sure you don't miss any lines with relevant information! 

* use the csv module to import everything to a list of lists
* create a df with information from the first four columns (countries)
* format the columns with the right type (don't forget to change the date from a string)
* set the index of the df to the `country`

In [13]:
!cat data/exercises/pet_stats.csv

Estonia,235000,290000,,,,

In [14]:
# Read file data/exercises/microsoft_info_w_problems.csv using csv.reader() and add result to
# lines = ...
# YOUR CODE HERE
# Read the CSV file
file_path = 'data/exercises/pet_stats.csv'
lines = []

with open(file_path, mode='r', encoding='utf-8') as file:
    reader = csv.reader(file)
    for row in reader:
        lines.append(row)
        
# create a dataframe using the line list with only 7 columns (country and pet types)
# df4 = pd.DataFrame(...
# YOUR CODE HERE
# Creating a dataframe with the correct column names
df4 = pd.DataFrame(lines[1:], columns=lines[0])

# Ensuring we only have 7 columns (including 'country')
df4 = df4.iloc[:, :7]


# replace empty values with nan (np.nan)
# YOUR CODE HERE
# Replace empty values with np.nan
df4.replace('', np.nan, inplace=True)

# set types per dataframe column, including the country. Always use float64 when floats are needed.
# YOUR CODE HERE
# Set types per dataframe column
for column in df4.columns:
    if column == 'country':
        df4[column] = df4[column].astype(str)
    else:
        # Using errors='coerce' to convert non-convertible values to NaN
        df4[column] = pd.to_numeric(df4[column], errors='coerce').astype('float64')


# set country as the new index of the dataframe
# YOUR CODE HERE
# Set 'country' as the new index
df4.set_index('country', inplace=True)

df4.head()

,dog_pop,cat_pop,bird_pop,aquaria_pop,small_mammal_pop,terraria_pop
country,,,,,,
India,10200000.0,NaN,NaN,NaN,NaN,NaN
China,27400000.0,53100000.0,NaN,NaN,NaN,NaN
United States,69929000.0,74059000.0,8300000.0,NaN,NaN,NaN
Brazil,191001000.0,NaN,NaN,NaN,NaN,NaN
Russia,23150000.0,3280000.0,3750000.0,6601000.0,1076000.0,NaN

In [15]:
assert np.isnan(df4.loc['Estonia', 'bird_pop']), "df4 content is wrong"
assert df4.loc['Slovakia', 'cat_pop'] == 32000, "df4 content is wrong"

mean_cat_pop = df4['cat_pop'].mean()
assert math.isclose(6915800.0, mean_cat_pop, rel_tol=1e-3), "df4 content is wrong"

assert df4['bird_pop'].dtype == np.float64, "df4 types are wrong"
assert df4.index.dtype == np.dtype('object'), "df4 types are wrong"

expected_hash = 'aff64e4fd520bd185cb01adab98d2d20060f621c62d5cad5204712cfa2294ef7'
assert hashlib.sha256(df4.index.name.encode()).hexdigest() == expected_hash

## Q5: Read a JSON file

Read the file **data/exercises/dog_pop_country_2023.json**.

In [16]:
# Read file data/exercises/dog_pop_country_2023.json with read_json
# df5 = read_json(...)
# YOUR CODE HERE
# Reading the JSON file
file_path_json = 'data/exercises/dog_pop_country_2023.json'
df5 = pd.read_json(file_path_json)

In [17]:
assert len(df5) == 37
assert set(df5.columns) == {'EstimatedDogPopulation', 'dogsPerPerson'}, "df5 columns are wrong"

expected_hash = 'fab1d9dc541cefd3541a1ca75af65d04d5eb3e035369c8ef7d50c4b12282d121'
assert hashlib.sha256(str(df5.loc[:,'dogsPerPerson'].sum()).encode()).hexdigest() == expected_hash, "df5 content is wrong"

## Q6: Read an Excel file

Read file **data/exercises/dog_breeds.xlsx** using function read_excel. This file has info on different dog breeds, namely behavioural and size characteristics. In this exercise, please do the following:

* you should grab the dat in sheet "breed_info"
* use column 'Name' as index
* make sure you keep only the rows and columns with data
* set the variable best_dogs_w_children with the number of dogs with the maximum score for 'good_with_children'

In [18]:
# Read file data/exercises/dog_breeds.xlsx with read_excel
# df6 = read_excel(...)
# YOUR CODE HERE


# best_dogs_w_children = ...
# YOUR CODE HERE

# Reading the Excel file
file_path_excel = 'data/exercises/dog_breeds.xlsx'
df6 = pd.read_excel(file_path_excel, sheet_name='breed_info', index_col='Name')

# Keeping only the rows and columns with data (removing NaN values)
df6.dropna(axis=0, how='any', inplace=True)
df6.dropna(axis=1, how='any', inplace=True)

# Setting the variable best_dogs_w_children with the number of dogs with the maximum score for 'good_with_children'
max_good_with_children_score = df6['good_with_children'].max()
best_dogs_w_children = (df6['good_with_children'] == max_good_with_children_score).sum()

best_dogs_w_children

42

In [19]:
assert best_dogs_w_children == 42
assert isinstance(df6, pd.DataFrame)
expected_hash = 'f0a0278e4372459cca6159cd5e71cfee638302a7b9ca9b05c34181ac0a65ac5d'
assert hashlib.sha256(
        df6.loc['Hovawart', 'good_with_strangers']
    ).hexdigest() == expected_hash, "df6 is wrong"

## Q7: Find the encoding of a file

Find the encoding used in file **data/exercises/dogs_intelligence_sample.csv**, using the method that was shown in the Learning Units.

Then, read the data into a DataFrame, using the read_csv method and find the `Breed` with an upper limit of repetitions to understand new commands (`reps_upper`) of 15.

In [20]:
# Find the encoding of file data/exercises/dogs_intelligence_sample.csv
# encoding = ...
# YOUR CODE HERE
filename="data/exercises/dogs_intelligence_sample.csv"


encoding = chardet.detect(open(filename, 'rb').read())["encoding"]


# Read the file into a DataFrame
# df7 = ...
# YOUR CODE HERE
df7 = pd.read_csv(filename, encoding=encoding)
df7[df7.reps_upper==15].Breed

# Breed with reps_upper equal to 15
# breed_found = .... (assign a string)
# YOUR CODE HERE
breed_found = df7[df7.reps_upper==15].Breed.reset_index().Breed[0]

In [21]:
assert isinstance(df7, pd.DataFrame)

expected_hash_1 = 'c543ece81605c7d202121c62080a0db4020fc2c75bfac35d101d7f3e93c93949'
assert hashlib.sha256(encoding.encode()).hexdigest() == expected_hash_1, "encoding is wrong"

expected_hash_2 = '0d9abf1f6b31fb0cdc875d352b47751ce91ca57075087365502ea648b3329a19'
assert hashlib.sha256(breed_found.encode()).hexdigest() == expected_hash_2, "breed_found is wrong"

## Q8: Import a Random Sample of a Big File

Consider the file **data/exercises/dog_intelligence.tsv**. Let's imagine this file is really huge, with a lot of rows!  Read the file using a random sample of 10 rows. Count the actual lines with `wc`

In [22]:
# Read file data/exercises/dog_intelligence.tsv with wc and save the number of lines
# in lines_in_file (as an integer), using 
# lines_in_file = ...
# Notice that the header is not a line..

# YOUR CODE HERE
filename = "data/exercises/dog_intelligence.tsv"

#!cat <{filename}
lines_in_file = !wc -l < {filename}
lines_in_file = int(lines_in_file[0])-1

# make parameter rows_to_skip equal to the lines you want to skip loading 
# don't forget: 10 rows should be fetched
# rows_to_skip = ...
# YOUR CODE HERE
sample_number = 10
n_rows_to_skip = lines_in_file - sample_number

rows_to_skip = random.sample(range(1, lines_in_file+1), n_rows_to_skip)


# Create a df8 dataframe with the sampled values
# don't forget: you want to keep the header plus 10 rows in the new dataframe.
# YOUR CODE HERE
df8 = pd.read_csv(filename, sep="\t", skiprows=rows_to_skip)
df8

,index,Breed,Classification,obey,reps_lower,reps_upper
0,7,Papillon,Brightest Dogs,95%,#1,4
1,16,Collie,Excellent Working Dogs,85%,#5,15
2,23,Cocker Spaniel,Excellent Working Dogs,85%,#5,15
3,35,Portuguese Water Dog,Above Average Working Dogs,70%,#16,25
4,49,Cairn Terrier,Above Average Working Dogs,70%,#16,25
5,81,Jack Russell terrier,Average Working/Obedience Intelligence,50%,#26,40
6,96,Wire Fox Terrier,Average Working/Obedience Intelligence,50%,#26,40
7,111,Chinese Crested,Fair Working/Obedience Intelligence,30%,#41,80
8,114,Tibetan Terrier,Fair Working/Obedience Intelligence,30%,#41,80
9,125,Shih Tzu,Lowest Degree of Working/Obedience Intelligence,10%,#81,100
10,135,Afghan Hound,Lowest Degree of Working/Obedience Intelligence,10%,#81,100

In [23]:
# getting remaining list of dog breeds, removing rows_to_skip from the file
df_helper = pd.read_csv( 
    'data/exercises/dog_intelligence.tsv', 
    sep='\t',
    header=0 
)

total_indexes = list(df_helper.index)
for s in rows_to_skip:
    total_indexes.remove(s-1)

expected_hash = '13671077b66a29874a2578b5240319092ef2a1043228e433e9b006b5e53e7513'
assert hashlib.sha256(str(lines_in_file).encode()).hexdigest() == expected_hash, "lines_in_file are wrong"
assert isinstance(df8, pd.DataFrame)
assert list(df8['Breed'])==list(df_helper.iloc[total_indexes]['Breed'])
assert df8.shape[0]==11, "df8 size is wrong"

expected_hash = 'e7f6c011776e8db7cd330b54174fd76f7d0216b612387a5ffcfb81e6f0919683'
assert  hashlib.sha256(str(df8.shape[1]).encode()).hexdigest() == expected_hash

## Q9: Loading a Big File

Read file **data/exercises/dog_intelligence.tsv** using chunks keep only the columns `Breed`, `Classification`, and `obey`.

Note that:
* the file should be read in chunks of 20 breeds
* the missing values for `Classification` should be removed (filtered in each chunk)
* the `obey` should be converted to type float (in each chunk)
* the index should be incremental starting from 0 (i.e, you don't need to read any column as the index)

At the end, calculate the average `obey`

Tip: Be sure you investigate the data you are about to load before doing any code.

In [24]:
# Read file data/exercises/dog_intelligence.tsv
# the chunks should be appended in a list called chunk_arr
# YOUR CODE HERE
# Reading the 'dog_intelligence.tsv' file in chunks
file_path_dog_intelligence = 'data/exercises/dog_intelligence.tsv'

# Initializing the chunk iterator
chunks_iter = pd.read_csv(
    file_path_dog_intelligence,
    sep="\t",
    usecols=['Breed', 'Classification', 'obey'],
    chunksize=20
)

# Function to process each chunk
def process_chunk(chunk):
    # Filtering out rows where 'Classification' is NaN or 'Not-classified'
    chunk = chunk[~chunk['Classification'].isin([np.nan, 'Not-classified'])]
    # Converting 'obey' to float after removing '%'
    chunk.loc[:,'obey'] = chunk['obey'].str.replace('%', '')
    chunk['obey']=chunk['obey'].astype('float')
    return chunk

chunk_arr = []
for data_chunk in chunks_iter:
    data_chunk_filtered = process_chunk(data_chunk)
    chunk_arr.append(data_chunk_filtered)

# df9 should be the final dataframe with concatenated chunks
# Resulting average should go on lit_avg variable
# YOUR CODE HERE
# Concatenating the chunks into a final DataFrame
df9 = pd.concat(chunk_arr, ignore_index=True)  # ignore_index to ensure incremental index starting from 0

# Calculating the average of 'obey'
lit_avg = df9['obey'].mean()

df9.head(), df9.dtypes, lit_avg  # Displaying the first few rows of the DataFrame and the calculated average

/var/folders/zy/9r4gn9b574gdnv2l9zms0bz40000gn/T/ipykernel_48137/4214639302.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk['obey']=chunk['obey'].astype('float')
/var/folders/zy/9r4gn9b574gdnv2l9zms0bz40000gn/T/ipykernel_48137/4214639302.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk['obey']=chunk['obey'].astype('float')
/var/folders/zy/9r4gn9b574gdnv2l9zms0bz40000gn/T/ipykernel_48137/4214639302.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk['obey']=chunk['obey'].astype('float')
/var/folders/zy/9r4gn9b574gdnv2l9zms0bz40000gn/T/ipykernel_48137/4214639302.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk['obey']=chunk['obey'].astype('float')

(               Breed  Classification  obey
 0      Border Collie  Brightest Dogs  95.0
 1             Poodle  Brightest Dogs  95.0
 2    German Shepherd  Brightest Dogs  95.0
 3   Golden Retriever  Brightest Dogs  95.0
 4  Doberman Pinscher  Brightest Dogs  95.0,
 Breed              object
 Classification     object
 obey              float64
 dtype: object,
 56.43939393939394)

In [25]:
expected_hash = 'f66229d92035c72b54407f3bc882eaadff7e3b97969f785c4b5caf4bca46e84f'
assert hashlib.sha256(str([len(c) for c in chunk_arr]).encode()).hexdigest() == expected_hash, "error on chunk_arr sizes, did you correctly remove the missing values?"

assert df9.loc[df9['Breed']=='Basenji', 'obey'].values[0] == 10.0, "df9 data is wrong"
assert df9.dtypes['Breed'] == object, "df9 structure is wrong, check data types"
assert df9.dtypes['obey'] == float, "df9 structure is wrong, check data types" 

assert math.isclose(56.43, lit_avg, rel_tol=1e-3), "lit_avg is wrong"

## Q10: Calculate average values of `reps_lower` using chunks and avoiding a complete data frame in memory.

Using chunks, read file **data/exercises/dog_intelligence.tsv**, avoid incomplete rows within `reps_lower` and calculate the average of `reps_lower` without loading all data simultaneously. 

Use a similar approach of the previous question but don't create any dataframe neither any list with chunks; ***Hint: Use the average definition***

In [26]:
# Read file data/exercises/dog_intelligence.tsv
# the final average should be in the variable final_avg
# You should increment 2 variables in each chunk and use them at the end to calculate final_avg, call them rep_a, rep_b
# YOUR CODE HERE
# Reading the 'dog_intelligence.tsv' file in chunks and calculating the average of 'reps_lower'

# Initializing the chunk iterator
chunks_iter = pd.read_csv(
    'data/exercises/dog_intelligence.tsv',
    sep="\t",
    chunksize=20
)

# Defining the function to process each chunk
def filter_data(data):
    data.dropna(inplace=True)
    # Using regex to remove non-numeric characters and then converting to float
    data['reps_lower'] = data['reps_lower'].str.extract('(\d+)').astype(float)
    return data

# Initializing variables to accumulate the sum of 'reps_lower' and the count of valid entries
rep_a = 0  # Sum of 'reps_lower'
rep_b = 0  # Count of valid entries

# Processing each chunk
for chunk in chunks_iter:
    # Processing the chunk with the filter_data function
    filtered_chunk = filter_data(chunk)
    
    # Summing the 'reps_lower' values and counting the valid entries
   
    rep_b += np.sum(filtered_chunk['reps_lower'])
    rep_a += filtered_chunk['reps_lower'].shape[0]

# Calculating the final average
final_avg = rep_b / rep_a

final_avg, rep_a, rep_b  # Displaying the final average and the accumulated values

(25.58823529411765, 136, 3480.0)

In [27]:
assert math.isclose(25.58823529411765, final_avg, rel_tol=1e-1), "final_avg is wrong"
assert int(rep_b) == 3480 or int(rep_a)==136, "rep_a or rep_b is wrong is wrong"

Congrats, you were able to deal with all the messy data of this notebook!

![title](./media/dog_2.jpeg)