In [3]:
import pandas as pd
import json
import requests
import glob
import os
from sqlalchemy import create_engine
from bs4 import BeautifulSoup

In [4]:
def check_data(df):
    print("HEAD")
    print(df.head())
    print("\n")
    print("SHAPE")
    print(df.shape)
    print("\n")
    print("DATA TYPES")
    print(df.dtypes)
    print("\n")
    print("UNIQUE VALUES")
    print(df.nunique())
    print("\n")
    print("MISSING VALUES")
    print(df.isna().sum())

In [5]:
url = 'https://hckt02-api.lisbondatascience.org/hckt_api_batch/7'
response = requests.get(url)

api_time_stamp = list()
api_count = list()
for ele in response.json():
    api_time_stamp.append(ele['timestamp'])
    api_count.append(ele['count'])
api_data = pd.DataFrame({'timestamp': api_time_stamp, 'count': api_count})
api_data

     timestamp  count
0   1664992800    254
1   1676325600      0
2   1631635200   1706
3   1673683200      0
4   1636952400      0
..         ...    ...
95  1674327600      0
96  1651237200      0
97  1657782000   9192
98  1645826400      0
99  1643446800      0

[100 rows x 2 columns]