In [1]:
import pandas as pd
import numpy as np

In [29]:
def check_data(df):
    print("HEAD")
    print(df.head())
    print("\n")
    print("SHAPE")
    print(df.shape)
    print("\n")
    print("DATA TYPES")
    print(df.dtypes)
    print("\n")
    print("UNIQUE VALUES")
    print(df.nunique())
    print("\n")
    print("MISSING VALUES")
    print(df.isna().sum())

In [3]:
!ls data

data_0.tsv    data_1.json   data_2.csv    data_3.csv    test_data.csv

In [14]:
slice0 = pd.read_csv('data/data_0.tsv', sep= '\t')

In [32]:
slice0.drop(["Unnamed: 0"], axis=1, inplace=True)

In [33]:
check_data(slice0)

HEAD
      timestamp  temp  rhum  prcp  wspd    pres   wdir  season
0  1.618981e+09   6.4  90.0   0.0   7.4  1019.2   35.0  spring
1  1.664172e+09  11.9   NaN   NaN   NaN     NaN    NaN  autumn
2  1.666717e+09  14.2  84.0   0.0  11.1  1010.4  141.0  autumn
3  1.674011e+09  -2.9  96.0   0.0  11.1   994.5  256.0  winter
4  1.648228e+09  14.2  49.0   0.0   NaN     NaN    NaN  spring


SHAPE
(3921, 8)


DATA TYPES
timestamp    float64
temp         float64
rhum         float64
prcp         float64
wspd         float64
pres         float64
wdir         float64
season        object
dtype: object


UNIQUE VALUES
timestamp    3921
temp          328
rhum           75
prcp           29
wspd           37
pres          523
wdir          358
season          4
dtype: int64


MISSING VALUES
timestamp      0
temp           0
rhum         801
prcp         801
wspd         734
pres         734
wdir         734
season         0
dtype: int64

In [25]:
slice1 = pd.read_json("data/data_1.json",orient='table')

In [75]:
# Convert datetime strings to Unix timestamps and leave Unix timestamps as is
slice1['timestamp'] = pd.to_numeric(slice1['timestamp'], errors='coerce')

KeyError: 'timestamp'

In [81]:
slice1=slice1.reset_index(drop=False)

In [82]:
slice1

               timestamp  temp  rhum  prcp  wspd    pres   wdir  season
0    2022-08-02 13:00:00  26.3  53.0   0.0  27.8  1014.4  243.0  summer
1    2023-04-30 10:00:00  14.8  59.0   0.0  13.0  1021.3  164.0  spring
2    2021-06-15 19:00:00  18.1  68.0   0.0   NaN     NaN    NaN  spring
3    2022-06-03 11:00:00  22.0  41.0   0.0  20.5  1017.0   80.0  spring
4    2022-11-03 04:00:00  11.6  90.0   4.2  14.8  1003.8  200.0  autumn
...                  ...   ...   ...   ...   ...     ...    ...     ...
3916 2022-07-26 04:00:00  13.2   NaN   NaN   9.3  1018.0  311.0  summer
3917 2023-09-29 20:00:00  12.1  84.0   0.0   5.5  1024.6  222.0  autumn
3918 2023-06-01 01:00:00   9.3  89.0   0.0  18.5  1026.1   31.0  spring
3919 2023-02-02 18:00:00   8.6  86.0   0.0  20.4  1027.3  256.0  winter
3920 2021-11-24 07:00:00   3.5  95.0   0.0   NaN     NaN    NaN  autumn

[3921 rows x 8 columns]

In [83]:

# Assuming 'timestamp' is the column with datetime64[ns] values
slice1['timestamp'] = (pd.to_datetime(slice1['timestamp']) - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

In [84]:
check_data(slice1)

HEAD
    timestamp  temp  rhum  prcp  wspd    pres   wdir  season
0  1659445200  26.3  53.0   0.0  27.8  1014.4  243.0  summer
1  1682848800  14.8  59.0   0.0  13.0  1021.3  164.0  spring
2  1623783600  18.1  68.0   0.0   NaN     NaN    NaN  spring
3  1654254000  22.0  41.0   0.0  20.5  1017.0   80.0  spring
4  1667448000  11.6  90.0   4.2  14.8  1003.8  200.0  autumn


SHAPE
(3921, 8)


DATA TYPES
timestamp      int64
temp         float64
rhum         float64
prcp         float64
wspd         float64
pres         float64
wdir         float64
season        object
dtype: object


UNIQUE VALUES
timestamp    3921
temp          331
rhum           76
prcp           36
wspd           37
pres          514
wdir          360
season          4
dtype: int64


MISSING VALUES
timestamp      0
temp           0
rhum         767
prcp         767
wspd         796
pres         796
wdir         796
season         0
dtype: int64

In [4]:
slice2 = pd.read_csv("data/data_2.csv")

In [34]:
slice2.drop(["Unnamed: 0"], axis=1, inplace=True)

In [36]:
check_data(slice2)

HEAD
      timestamp  temp  rhum  prcp  wspd    pres   wdir  season
0  1.624540e+09  19.6  58.0   0.0  13.0  1021.1  288.0  summer
1  1.651237e+09  10.9  57.0   0.0   NaN     NaN    NaN  spring
2  1.619507e+09   6.6  74.0   0.0   5.5  1012.3  112.0  spring
3  1.639584e+09  10.4   NaN   NaN   9.3  1031.5  238.0  autumn
4  1.622804e+09  15.9  80.0   1.0   NaN     NaN    NaN  spring


SHAPE
(3921, 8)


DATA TYPES
timestamp    float64
temp         float64
rhum         float64
prcp         float64
wspd         float64
pres         float64
wdir         float64
season        object
dtype: object


UNIQUE VALUES
timestamp    3921
temp          322
rhum           78
prcp           30
wspd           36
pres          501
wdir          360
season          4
dtype: int64


MISSING VALUES
timestamp      0
temp           0
rhum         772
prcp         772
wspd         786
pres         786
wdir         786
season         0
dtype: int64

In [16]:
slice3 = pd.read_csv("data/data_3.csv")

In [37]:
slice3.drop(["Unnamed: 0"], axis=1, inplace=True)

In [38]:
check_data(slice3)

HEAD
      timestamp  temp   rhum  prcp  wspd    pres   wdir  season
0  1.684310e+09  12.9  73.0%   0.0   9.3  1029.2  330.0  Spring
1  1.633590e+09  13.6  94.0%   0.0   9.3  1025.7  217.0  Autumn
2  1.633694e+09  17.9  78.0%   0.0   5.5  1029.8  168.0  Autumn
3  1.655417e+09  17.4  66.0%   0.0   9.3  1022.3  190.0  Spring
4  1.639123e+09   4.2  86.0%   0.0  29.6   995.8  308.0  Autumn


SHAPE
(3921, 8)


DATA TYPES
timestamp    float64
temp         float64
rhum          object
prcp         float64
wspd         float64
pres         float64
wdir         float64
season        object
dtype: object


UNIQUE VALUES
timestamp    3921
temp          327
rhum           77
prcp           36
wspd           32
pres          518
wdir          359
season          4
dtype: int64


MISSING VALUES
timestamp      0
temp           0
rhum           0
prcp         797
wspd         821
pres         821
wdir         821
season         0
dtype: int64

In [39]:
!ls data

data_0.tsv    data_1.json   data_2.csv    data_3.csv    test_data.csv

In [40]:
test_data = pd.read_csv("data/test_data.csv")

In [43]:
test_data.drop(["Unnamed: 0"], axis=1, inplace=True)

In [44]:
check_data(test_data)

HEAD
      timestamp  temp  rhum  prcp  wspd    pres   wdir               weco  \
0  1.636621e+09  10.1  98.0   0.0   7.4  1023.9  214.0           Overcast
1  1.690999e+09  16.1  90.0   0.0  13.0   987.8  274.0  Heavy Rain Shower
2  1.647054e+09   7.5  90.0   0.0  16.7  1006.1  182.0         Light Rain
3  1.642018e+09   2.9  93.0   0.0   5.5  1042.4  228.0               Fair
4  1.654333e+09  15.0  67.0   0.2  20.5  1021.0   60.0                NaN

   season
0  autumn
1  summer
2  winter
3  winter
4  spring


SHAPE
(6722, 9)


DATA TYPES
timestamp    float64
temp         float64
rhum         float64
prcp         float64
wspd         float64
pres         float64
wdir         float64
weco          object
season        object
dtype: object


UNIQUE VALUES
timestamp    6722
temp          346
rhum           77
prcp           43
wspd           40
pres          578
wdir          360
weco           13
season          4
dtype: int64


MISSING VALUES
timestamp     0
temp          0
rhum          0
prcp          0
wspd          0
pres          0
wdir          0
weco         84
season        0
dtype: int64

In [85]:
#lowercase all colnames
slice0 = slice0.rename(columns=str.lower)
slice1 = slice1.rename(columns=str.lower)
slice2 = slice2.rename(columns=str.lower)
slice3 = slice3.rename(columns=str.lower)

In [87]:
#slice0 = slice0.set_index("timestamp")
slice1 = slice1.set_index("timestamp")
#slice2 = slice2.set_index("timestamp")
#slice3 = slice3.set_index("timestamp")

In [88]:
df = pd.concat([slice0, slice1, slice2, slice3])
check_data(df)

HEAD
              temp  rhum  prcp  wspd    pres   wdir  season
timestamp
1.618981e+09   6.4  90.0   0.0   7.4  1019.2   35.0  spring
1.664172e+09  11.9   NaN   NaN   NaN     NaN    NaN  autumn
1.666717e+09  14.2  84.0   0.0  11.1  1010.4  141.0  autumn
1.674011e+09  -2.9  96.0   0.0  11.1   994.5  256.0  winter
1.648228e+09  14.2  49.0   0.0   NaN     NaN    NaN  spring


SHAPE
(15684, 7)


DATA TYPES
temp      float64
rhum       object
prcp      float64
wspd      float64
pres      float64
wdir      float64
season     object
dtype: object


UNIQUE VALUES
temp      379
rhum      158
prcp       50
wspd       42
pres      624
wdir      360
season      8
dtype: int64


MISSING VALUES
temp         0
rhum      2340
prcp      3137
wspd      3137
pres      3137
wdir      3137
season       0
dtype: int64

In [89]:
len(df.index.unique())

15684

In [90]:
t=0
for s in [slice0, slice1, slice2, slice3]:
    t+=s.shape[0]
    print(s.shape[0])
print(t)

3921
3921
3921
3921
15684

In [91]:
df.rhum.value_counts()

rhum
nan%     797
89.0     376
93.0     372
90.0     369
91.0     368
        ...
23.0       1
26.0%      1
24.0%      1
19.0       1
29.0%      1
Name: count, Length: 158, dtype: int64

In [92]:
df['rhum'] = df['rhum'].str.replace('%', '').astype('float')

In [93]:
df.rhum.value_counts()

rhum
91.0    127
94.0    122
87.0    122
90.0    116
92.0    114
       ...
34.0      1
23.0      1
26.0      1
24.0      1
29.0      1
Name: count, Length: 76, dtype: int64

In [94]:
check_data(df)

HEAD
              temp  rhum  prcp  wspd    pres   wdir  season
timestamp
1.618981e+09   6.4   NaN   0.0   7.4  1019.2   35.0  spring
1.664172e+09  11.9   NaN   NaN   NaN     NaN    NaN  autumn
1.666717e+09  14.2   NaN   0.0  11.1  1010.4  141.0  autumn
1.674011e+09  -2.9   NaN   0.0  11.1   994.5  256.0  winter
1.648228e+09  14.2   NaN   0.0   NaN     NaN    NaN  spring


SHAPE
(15684, 7)


DATA TYPES
temp      float64
rhum      float64
prcp      float64
wspd      float64
pres      float64
wdir      float64
season     object
dtype: object


UNIQUE VALUES
temp      379
rhum       76
prcp       50
wspd       42
pres      624
wdir      360
season      8
dtype: int64


MISSING VALUES
temp          0
rhum      12560
prcp       3137
wspd       3137
pres       3137
wdir       3137
season        0
dtype: int64

In [95]:
df.season.value_counts()

season
summer    3534
spring    3321
autumn    2632
winter    2276
Summer    1150
Spring    1131
Autumn     898
Winter     742
Name: count, dtype: int64

In [96]:
df['season']=df['season'].str.lower()

In [97]:
df.season.value_counts()

season
summer    4684
spring    4452
autumn    3530
winter    3018
Name: count, dtype: int64

In [98]:
check_data(df)

HEAD
              temp  rhum  prcp  wspd    pres   wdir  season
timestamp
1.618981e+09   6.4   NaN   0.0   7.4  1019.2   35.0  spring
1.664172e+09  11.9   NaN   NaN   NaN     NaN    NaN  autumn
1.666717e+09  14.2   NaN   0.0  11.1  1010.4  141.0  autumn
1.674011e+09  -2.9   NaN   0.0  11.1   994.5  256.0  winter
1.648228e+09  14.2   NaN   0.0   NaN     NaN    NaN  spring


SHAPE
(15684, 7)


DATA TYPES
temp      float64
rhum      float64
prcp      float64
wspd      float64
pres      float64
wdir      float64
season     object
dtype: object


UNIQUE VALUES
temp      379
rhum       76
prcp       50
wspd       42
pres      624
wdir      360
season      4
dtype: int64


MISSING VALUES
temp          0
rhum      12560
prcp       3137
wspd       3137
pres       3137
wdir       3137
season        0
dtype: int64

In [99]:
df.index.unique()

Index([1618981200.0, 1664172000.0, 1666717200.0, 1674010800.0, 1648227600.0,
       1674820800.0, 1636567200.0, 1691906400.0, 1662202800.0, 1688497200.0,
       ...
       1670266800.0, 1691208000.0, 1635559200.0, 1648983600.0, 1683846000.0,
       1651770000.0, 1622361600.0, 1648652400.0, 1646308800.0, 1640181600.0],
      dtype='float64', name='timestamp', length=15684)

In [100]:
df1 = df.reset_index(drop=False)

In [102]:
df

              temp  rhum  prcp  wspd    pres   wdir  season
timestamp
1.618981e+09   6.4   NaN   0.0   7.4  1019.2   35.0  spring
1.664172e+09  11.9   NaN   NaN   NaN     NaN    NaN  autumn
1.666717e+09  14.2   NaN   0.0  11.1  1010.4  141.0  autumn
1.674011e+09  -2.9   NaN   0.0  11.1   994.5  256.0  winter
1.648228e+09  14.2   NaN   0.0   NaN     NaN    NaN  spring
...            ...   ...   ...   ...     ...    ...     ...
1.651770e+09  16.5  60.0   0.0  11.1  1024.5  328.0  spring
1.622362e+09  13.5  71.0   0.0  13.0  1028.8   62.0  spring
1.648652e+09   8.1  80.0   1.3  14.8  1004.5    5.0  spring
1.646309e+09  10.0  82.0   0.1  11.1  1014.6  157.0  winter
1.640182e+09   2.9  86.0   0.0   NaN     NaN    NaN  winter

[15684 rows x 7 columns]

In [103]:
df.to_csv("data/folders_data.csv")