In [73]:
import pandas as pd
from datetime import datetime

In [2]:
def check_data(df):
    print(df.head())
    print("\n")
    print("SHAPE")
    print(df.shape)
    print("\n")
    print("DATA TYPES")
    print(df.dtypes)
    print("\n")
    print("UNIQUE VALUES")
    print(df.nunique())
    print("\n")
    print("MISSING VALUES")
    print(df.isna().sum())

In [5]:
!ls data

api_data.csv     data_1.json      data_3.csv       sql_data.csv
data_0.tsv       data_2.csv       folders_data.csv test_data.csv

In [102]:
# Specify the column to use as index and its type
#dtype_dict = {'timestamp': float}
folders_data = pd.read_csv('data/folders_data.csv')

In [103]:
check_data(folders_data)

      timestamp  temp  rhum  prcp  wspd    pres   wdir  season
0  1.618981e+09   6.4   NaN   0.0   7.4  1019.2   35.0  spring
1  1.664172e+09  11.9   NaN   NaN   NaN     NaN    NaN  autumn
2  1.666717e+09  14.2   NaN   0.0  11.1  1010.4  141.0  autumn
3  1.674011e+09  -2.9   NaN   0.0  11.1   994.5  256.0  winter
4  1.648228e+09  14.2   NaN   0.0   NaN     NaN    NaN  spring


SHAPE
(15684, 8)


DATA TYPES
timestamp    float64
temp         float64
rhum         float64
prcp         float64
wspd         float64
pres         float64
wdir         float64
season        object
dtype: object


UNIQUE VALUES
timestamp    15684
temp           377
rhum            76
prcp            49
wspd            42
pres           624
wdir           360
season           4
dtype: int64


MISSING VALUES
timestamp        0
temp             0
rhum         12560
prcp          3137
wspd          3137
pres          3137
wdir          3137
season           0
dtype: int64

In [104]:
folders_data['timestamp'].dtype

dtype('float64')

In [93]:
# Convert datetime strings to Unix timestamps and leave Unix timestamps as is
#folders_data['timestamp'] = pd.to_numeric(folders_data['timestamp'], errors='coerce')

In [82]:
#folders_data['timestamp'] = folders_data['timestamp'].apply(pd.to_numeric, errors='coerce')

In [84]:
#folders_data['timestamp'] = pd.to_numeric(folders_data['timestamp'], errors='coerce').astype('float64')

In [105]:
check_data(folders_data)

      timestamp  temp  rhum  prcp  wspd    pres   wdir  season
0  1.618981e+09   6.4   NaN   0.0   7.4  1019.2   35.0  spring
1  1.664172e+09  11.9   NaN   NaN   NaN     NaN    NaN  autumn
2  1.666717e+09  14.2   NaN   0.0  11.1  1010.4  141.0  autumn
3  1.674011e+09  -2.9   NaN   0.0  11.1   994.5  256.0  winter
4  1.648228e+09  14.2   NaN   0.0   NaN     NaN    NaN  spring


SHAPE
(15684, 8)


DATA TYPES
timestamp    float64
temp         float64
rhum         float64
prcp         float64
wspd         float64
pres         float64
wdir         float64
season        object
dtype: object


UNIQUE VALUES
timestamp    15684
temp           377
rhum            76
prcp            49
wspd            42
pres           624
wdir           360
season           4
dtype: int64


MISSING VALUES
timestamp        0
temp             0
rhum         12560
prcp          3137
wspd          3137
pres          3137
wdir          3137
season           0
dtype: int64

In [106]:
folders_data = pd.read_csv("data/folders_data.csv", index_col = "timestamp")
webscraping_data = pd.read_csv("data/webscraping.csv", index_col = "timestamp")
sql_data = pd.read_csv("data/sql_data.csv", index_col = "timestamp")
api_data = pd.read_csv("data/api_data.csv", index_col = "timestamp")

In [107]:
api_data.drop(["Unnamed: 0"], axis=1, inplace=True)

In [108]:
check_data(api_data)

            count
timestamp
1656896400      0
1685127600    157
1622311200      0
1666148400      0
1624255200   1342


SHAPE
(15684, 1)


DATA TYPES
count    int64
dtype: object


UNIQUE VALUES
count    2225
dtype: int64


MISSING VALUES
count    0
dtype: int64

In [109]:
check_data(webscraping_data)

                  weco
timestamp
1656896400        fair
1685127600       clear
1622311200        fair
1666148400      cloudy
1624255200  light rain


SHAPE
(15684, 1)


DATA TYPES
weco    object
dtype: object


UNIQUE VALUES
weco    15
dtype: int64


MISSING VALUES
weco    159
dtype: int64

In [110]:
check_data(folders_data)

              temp  rhum  prcp  wspd    pres   wdir  season
timestamp
1.618981e+09   6.4   NaN   0.0   7.4  1019.2   35.0  spring
1.664172e+09  11.9   NaN   NaN   NaN     NaN    NaN  autumn
1.666717e+09  14.2   NaN   0.0  11.1  1010.4  141.0  autumn
1.674011e+09  -2.9   NaN   0.0  11.1   994.5  256.0  winter
1.648228e+09  14.2   NaN   0.0   NaN     NaN    NaN  spring


SHAPE
(15684, 7)


DATA TYPES
temp      float64
rhum      float64
prcp      float64
wspd      float64
pres      float64
wdir      float64
season     object
dtype: object


UNIQUE VALUES
temp      377
rhum       76
prcp       49
wspd       42
pres      624
wdir      360
season      4
dtype: int64


MISSING VALUES
temp          0
rhum      12560
prcp       3137
wspd       3137
pres       3137
wdir       3137
season        0
dtype: int64

In [111]:
sql_data.drop(["Unnamed: 0"], axis=1, inplace=True)

In [112]:
sql_data =sql_data.rename(columns=lambda x: x.replace('_db', ''))

In [113]:
check_data(sql_data)

            rhum  prcp  wspd   wdir    pres
timestamp
1654621200   NaN   NaN  18.4  200.0  1010.0
1650416400   NaN   NaN  14.8   19.0  1017.3
1695322800   NaN   NaN   5.5  170.0   995.6
1668279600   NaN   NaN   9.3  130.0  1025.3
1629108000   NaN   NaN  24.1  313.0  1016.5


SHAPE
(5631, 5)


DATA TYPES
rhum    float64
prcp    float64
wspd    float64
wdir    float64
pres    float64
dtype: object


UNIQUE VALUES
rhum     72
prcp     32
wspd     35
wdir    358
pres    506
dtype: int64


MISSING VALUES
rhum    2494
prcp    2494
wspd    2494
wdir    2494
pres    2494
dtype: int64

In [115]:
list(set(sql_data.columns) & set(folders_data.columns))

['wspd', 'wdir', 'pres', 'rhum', 'prcp']

In [38]:
#folders_data = folders_data.reset_index(drop=False)
#sql_data = sql_data.reset_index(drop=False)
#webscraping_data = webscraping_data.reset_index(drop=False)
#api_data = api_data.reset_index(drop=False)

In [101]:
folders_data.columns, sql_data.columns, webscraping_data.columns, api_data.columns

(Index(['temp', 'rhum', 'prcp', 'wspd', 'pres', 'wdir', 'season'], dtype='object'),
 Index(['Unnamed: 0', 'rhum_db', 'prcp_db', 'wspd_db', 'wdir_db', 'pres_db'], dtype='object'),
 Index(['weco'], dtype='object'),
 Index(['Unnamed: 0', 'count'], dtype='object'))

In [53]:
#sql_data.timestamp = sql_data.timestamp.astype(float).astype(int)
#webscraping_data.timestamp = webscraping_data.timestamp.astype(float).astype(int)
#api_data.timestamp = api_data.timestamp.astype(float).astype(int)

In [59]:
#folders_data.timestamp.astype(float)

ValueError: could not convert string to float: '2022-08-02 13:00:00'

In [120]:
# concatenate dataframes - by default, pd.concat uses an outer join on the index. pd.merge could be an alternative
#all_data_df = pd.concat([folders_data, sql_data, webscraping_data],  axis=0).sort_index()
#print("Concatenated shape: ", all_data_df.shape)

Concatenated shape:  (36999, 8)

In [128]:
#first_merge = folders_data.merge(sql_data, on="timestamp", how = "inner")

In [129]:
#first_merge.head()

,temp,rhum_x,prcp_x,wspd_x,pres_x,wdir_x,season,rhum_y,prcp_y,wspd_y,wdir_y,pres_y
timestamp,,,,,,,,,,,,
1.664172e+09,11.9,NaN,NaN,NaN,NaN,NaN,autumn,86.0,0.3,18.5,264.0,1001.0
1.648228e+09,14.2,NaN,0.0,NaN,NaN,NaN,spring,NaN,NaN,13.0,80.0,1031.1
1.639386e+09,9.9,NaN,NaN,NaN,NaN,NaN,autumn,93.0,0.0,14.8,200.0,1023.3
1.663182e+09,15.6,NaN,NaN,11.1,1008.3,335.0,summer,77.0,0.0,NaN,NaN,NaN
1.678147e+09,4.3,NaN,NaN,13.0,1001.2,250.0,winter,92.0,0.0,NaN,NaN,NaN

In [ ]:
#second_merge = first_merge.merge(webscraping_data, on="timestamp", left_index=False, right_index=False, how = "outer")

In [132]:
#merged_data = pd.merge(folders_data, sql_data, on='timestamp', suffixes=('', '_other'))
#merged_data

,temp,rhum,prcp,wspd,pres,wdir,season,rhum_other,prcp_other,wspd_other,wdir_other,pres_other
timestamp,,,,,,,,,,,,
1.664172e+09,11.9,NaN,NaN,NaN,NaN,NaN,autumn,86.0,0.3,18.5,264.0,1001.0
1.648228e+09,14.2,NaN,0.0,NaN,NaN,NaN,spring,NaN,NaN,13.0,80.0,1031.1
1.639386e+09,9.9,NaN,NaN,NaN,NaN,NaN,autumn,93.0,0.0,14.8,200.0,1023.3
1.663182e+09,15.6,NaN,NaN,11.1,1008.3,335.0,summer,77.0,0.0,NaN,NaN,NaN
1.678147e+09,4.3,NaN,NaN,13.0,1001.2,250.0,winter,92.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1.643310e+09,5.9,NaN,NaN,11.1,1031.2,296.0,winter,86.0,0.0,NaN,NaN,NaN
1.654304e+09,13.0,NaN,NaN,20.5,1020.0,50.0,spring,77.0,2.5,NaN,NaN,NaN
1.619237e+09,4.4,NaN,NaN,NaN,NaN,NaN,spring,89.0,0.0,9.3,72.0,1027.9
1.657094e+09,17.4,69.0,0.0,NaN,NaN,NaN,summer,NaN,NaN,13.0,295.0,1027.5
1.640182e+09,2.9,86.0,0.0,NaN,NaN,NaN,winter,NaN,NaN,13.0,144.0,1018.3

In [136]:
Final_merge_1 = folders_data.combine_first(sql_data)

Final_merge_1

              prcp    pres  rhum  season  temp   wdir  wspd
timestamp
1.617340e+09   0.0  1029.4  84.0  spring   3.0   33.0  14.8
1.617343e+09   0.0  1029.5  81.0  spring   3.6   36.0  16.7
1.617347e+09   0.0  1029.7   NaN  spring   4.6   39.0  18.5
1.617350e+09   0.0  1029.9  71.0  spring   5.8   44.0  20.4
1.617354e+09   0.0  1030.1   NaN  spring   6.7   43.0  20.4
...            ...     ...   ...     ...   ...    ...   ...
1.697990e+09   0.0  1008.3  76.0  autumn  12.2  179.0   7.4
1.697994e+09   0.0  1008.9   NaN  autumn  11.2  169.0   7.4
1.697998e+09   0.0  1009.3  85.0  autumn  10.0  157.0   7.4
1.698001e+09   0.0  1009.7  87.0  autumn   9.2  149.0   7.4
1.698005e+09   0.0  1010.1  92.0  autumn   8.4  140.0   5.5

[15684 rows x 7 columns]

In [138]:
all_data_df = Final_merge_1.combine_first(webscraping_data)
all_data_df

              prcp    pres  rhum  season  temp   wdir    weco  wspd
timestamp
1.617340e+09   0.0  1029.4  84.0  spring   3.0   33.0    fair  14.8
1.617343e+09   0.0  1029.5  81.0  spring   3.6   36.0    fair  16.7
1.617347e+09   0.0  1029.7   NaN  spring   4.6   39.0    fair  18.5
1.617350e+09   0.0  1029.9  71.0  spring   5.8   44.0    fair  20.4
1.617354e+09   0.0  1030.1   NaN  spring   6.7   43.0  cloudy  20.4
...            ...     ...   ...     ...   ...    ...     ...   ...
1.697990e+09   0.0  1008.3  76.0  autumn  12.2  179.0    fair   7.4
1.697994e+09   0.0  1008.9   NaN  autumn  11.2  169.0    fair   7.4
1.697998e+09   0.0  1009.3  85.0  autumn  10.0  157.0    fair   7.4
1.698001e+09   0.0  1009.7  87.0  autumn   9.2  149.0    fair   7.4
1.698005e+09   0.0  1010.1  92.0  autumn   8.4  140.0    fair   5.5

[15684 rows x 8 columns]

In [139]:
check_data(all_data_df)

              prcp    pres  rhum  season  temp  wdir    weco  wspd
timestamp
1.617340e+09   0.0  1029.4  84.0  spring   3.0  33.0    fair  14.8
1.617343e+09   0.0  1029.5  81.0  spring   3.6  36.0    fair  16.7
1.617347e+09   0.0  1029.7   NaN  spring   4.6  39.0    fair  18.5
1.617350e+09   0.0  1029.9  71.0  spring   5.8  44.0    fair  20.4
1.617354e+09   0.0  1030.1   NaN  spring   6.7  43.0  cloudy  20.4


SHAPE
(15684, 8)


DATA TYPES
prcp      float64
pres      float64
rhum      float64
season     object
temp      float64
wdir      float64
weco       object
wspd      float64
dtype: object


UNIQUE VALUES
prcp       51
pres      640
rhum       78
season      4
temp      377
wdir      360
weco       15
wspd       43
dtype: int64


MISSING VALUES
prcp         0
pres         0
rhum      9423
season       0
temp         0
wdir         0
weco       159
wspd         0
dtype: int64

In [140]:
all_data_df.weco.value_counts()

weco
fair                 4971
cloudy               4137
overcast             2835
light rain           1957
clear                 829
rain                  262
rain shower           169
fog                   157
heavy rain shower     130
heavy rain             51
sleet                  11
snow shower             6
lihgt snowfall          6
sleet shower            2
freezing rain           2
Name: count, dtype: int64

In [141]:
feats_full = all_data_df.merge(api_data, on= "timestamp", left_index=False, right_index=False, how = "inner")
feats_full

              prcp    pres  rhum  season  temp   wdir    weco  wspd  count
timestamp
1.617340e+09   0.0  1029.4  84.0  spring   3.0   33.0    fair  14.8     19
1.617343e+09   0.0  1029.5  81.0  spring   3.6   36.0    fair  16.7     60
1.617347e+09   0.0  1029.7   NaN  spring   4.6   39.0    fair  18.5     82
1.617350e+09   0.0  1029.9  71.0  spring   5.8   44.0    fair  20.4     82
1.617354e+09   0.0  1030.1   NaN  spring   6.7   43.0  cloudy  20.4     17
...            ...     ...   ...     ...   ...    ...     ...   ...    ...
1.697990e+09   0.0  1008.3  76.0  autumn  12.2  179.0    fair   7.4     20
1.697994e+09   0.0  1008.9   NaN  autumn  11.2  169.0    fair   7.4      9
1.697998e+09   0.0  1009.3  85.0  autumn  10.0  157.0    fair   7.4     16
1.698001e+09   0.0  1009.7  87.0  autumn   9.2  149.0    fair   7.4     12
1.698005e+09   0.0  1010.1  92.0  autumn   8.4  140.0    fair   5.5     11

[15684 rows x 9 columns]

In [142]:
check_data(feats_full)

              prcp    pres  rhum  season  temp  wdir    weco  wspd  count
timestamp
1.617340e+09   0.0  1029.4  84.0  spring   3.0  33.0    fair  14.8     19
1.617343e+09   0.0  1029.5  81.0  spring   3.6  36.0    fair  16.7     60
1.617347e+09   0.0  1029.7   NaN  spring   4.6  39.0    fair  18.5     82
1.617350e+09   0.0  1029.9  71.0  spring   5.8  44.0    fair  20.4     82
1.617354e+09   0.0  1030.1   NaN  spring   6.7  43.0  cloudy  20.4     17


SHAPE
(15684, 9)


DATA TYPES
prcp      float64
pres      float64
rhum      float64
season     object
temp      float64
wdir      float64
weco       object
wspd      float64
count       int64
dtype: object


UNIQUE VALUES
prcp        51
pres       640
rhum        78
season       4
temp       377
wdir       360
weco        15
wspd        43
count     2225
dtype: int64


MISSING VALUES
prcp         0
pres         0
rhum      9423
season       0
temp         0
wdir         0
weco       159
wspd         0
count        0
dtype: int64

In [143]:
feats_full.to_csv("data/full_data.csv")