In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
def check_data(df):
    print(df.head())
    print("\n")
    print("SHAPE")
    print(df.shape)
    print("\n")
    print("DATA TYPES")
    print(df.dtypes)
    print("\n")
    print("UNIQUE VALUES")
    print(df.nunique())
    print("\n")
    print("MISSING VALUES")
    print(df.isna().sum())

In [4]:
username = 'ldsa_student'
password = 'R4Fr4P3aAgMYBqqP'
host_name = 'batch4-s02-db-instance.ctq2kxc7kx1i.eu-west-1.rds.amazonaws.com'
port = 5432
db_name = 'hckt2_students'
schema = 'public'

conn_str = 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host_name, port, db_name)
conn_args = {'options': '-csearch_path={}'.format(schema)}
engine = create_engine(conn_str, connect_args=conn_args)

In [6]:
query = '''
select *
from water w
natural join wind w2
'''
db_data = pd.read_sql_query(query, engine)

In [7]:
db_data

      timestamp  rhum_db  prcp_db  wspd_db  wdir_db  pres_db
0    1621951200       57      0.0     25.9      281   1014.4
1    1620547200       70      0.0     20.4      201    997.6
2    1668826800       96      0.0     13.0      308   1011.3
3    1643324400       93      0.0      9.3      289   1033.7
4    1626919200       89      0.0      7.4       76   1024.0
..          ...      ...      ...      ...      ...      ...
638  1670954400       89      0.0     11.1       56   1005.4
639  1652565600       75      0.0      9.3      111   1019.4
640  1631019600       41      0.0     14.8      130   1020.3
641  1638943200       80      0.0     25.9      222    986.4
642  1662516000       95      0.0     11.1      177   1009.2

[643 rows x 6 columns]

In [8]:
check_data(db_data)

    timestamp  rhum_db  prcp_db  wspd_db  wdir_db  pres_db
0  1621951200       57      0.0     25.9      281   1014.4
1  1620547200       70      0.0     20.4      201    997.6
2  1668826800       96      0.0     13.0      308   1011.3
3  1643324400       93      0.0      9.3      289   1033.7
4  1626919200       89      0.0      7.4       76   1024.0


SHAPE
(643, 6)


DATA TYPES
timestamp      int64
rhum_db        int64
prcp_db      float64
wspd_db      float64
wdir_db        int64
pres_db      float64
dtype: object


UNIQUE VALUES
timestamp    643
rhum_db       63
prcp_db       14
wspd_db       24
wdir_db      276
pres_db      314
dtype: int64


MISSING VALUES
timestamp    0
rhum_db      0
prcp_db      0
wspd_db      0
wdir_db      0
pres_db      0
dtype: int64

In [9]:
query = '''select coalesce( w.timestamp,w2.timestamp) as timestamp,w.rhum_db,w.prcp_db,w2.wspd_db,w2.wdir_db,w2.pres_db
from water w
full join wind w2 on w.timestamp = w2.timestamp '''
db_data2 = pd.read_sql_query(query, engine)
db_data2

       timestamp  rhum_db  prcp_db  wspd_db  wdir_db  pres_db
0     1654621200      NaN      NaN     18.4    200.0   1010.0
1     1650416400      NaN      NaN     14.8     19.0   1017.3
2     1695322800      NaN      NaN      5.5    170.0    995.6
3     1668279600      NaN      NaN      9.3    130.0   1025.3
4     1629108000      NaN      NaN     24.1    313.0   1016.5
...          ...      ...      ...      ...      ...      ...
5626  1668729600     85.0      0.8      NaN      NaN      NaN
5627  1678100400     88.0      0.0      NaN      NaN      NaN
5628  1628118000     90.0      0.0      NaN      NaN      NaN
5629  1670403600     97.0      0.0      NaN      NaN      NaN
5630  1676358000     95.0      0.0      NaN      NaN      NaN

[5631 rows x 6 columns]

In [10]:
check_data(db_data2)

    timestamp  rhum_db  prcp_db  wspd_db  wdir_db  pres_db
0  1654621200      NaN      NaN     18.4    200.0   1010.0
1  1650416400      NaN      NaN     14.8     19.0   1017.3
2  1695322800      NaN      NaN      5.5    170.0    995.6
3  1668279600      NaN      NaN      9.3    130.0   1025.3
4  1629108000      NaN      NaN     24.1    313.0   1016.5


SHAPE
(5631, 6)


DATA TYPES
timestamp      int64
rhum_db      float64
prcp_db      float64
wspd_db      float64
wdir_db      float64
pres_db      float64
dtype: object


UNIQUE VALUES
timestamp    5631
rhum_db        72
prcp_db        32
wspd_db        35
wdir_db       358
pres_db       506
dtype: int64


MISSING VALUES
timestamp       0
rhum_db      2494
prcp_db      2494
wspd_db      2494
wdir_db      2494
pres_db      2494
dtype: int64

In [14]:
len(db_data2.timestamp.unique())

5631

In [17]:
db_data2.to_csv("data/sql_data.csv")