In [1]:
import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup

In [3]:
def check_data(df):
    print("HEAD")
    print(df.head())
    print("\n")
    print("SHAPE")
    print(df.shape)
    print("\n")
    print("DATA TYPES")
    print(df.dtypes)
    print("\n")
    print("UNIQUE VALUES")
    print(df.nunique())
    print("\n")
    print("MISSING VALUES")
    print(df.isna().sum())

In [7]:
response = requests.get("https://s02-infrastructure.s3.eu-west-1.amazonaws.com/hackathon-02-batch7/index.html")
soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table', {'id': 'data-table'})
data = []
for row in table.find_all('tr'):
    cols = row.find_all('td')
    if len(cols) == 2:
        timestamp = cols[0].text.strip()
        weco = cols[1].text.strip()
        data.append([timestamp, weco])
df = pd.DataFrame(data, columns=['timestamp', 'weco'])
print(df)

        timestamp        weco
0      1656896400        Fair
1      1685127600       Clear
2      1622311200        Fair
3      1666148400      Cloudy
4      1624255200  Light Rain
...           ...         ...
15679  1676451600      Cloudy
15680  1635807600        Fair
15681  1630807200      Cloudy
15682  1629262800    Overcast
15683  1668686400  Light Rain

[15684 rows x 2 columns]

In [8]:
df['weco']=df['weco'].str.lower()
df = df.rename(columns=str.lower)
df = df.set_index("timestamp")
check_data(df)

HEAD
                  weco
timestamp
1656896400        fair
1685127600       clear
1622311200        fair
1666148400      cloudy
1624255200  light rain


SHAPE
(15684, 1)


DATA TYPES
weco    object
dtype: object


UNIQUE VALUES
weco    16
dtype: int64


MISSING VALUES
weco    0
dtype: int64

In [14]:
df['weco'].value_counts().reset_index().sort_values(by='weco')

                 weco  count
7                        159
4               clear    829
1              cloudy   4137
0                fair   4971
8                 fog    157
14      freezing rain      2
10         heavy rain     51
9   heavy rain shower    130
3          light rain   1957
12     lihgt snowfall      6
2            overcast   2835
5                rain    262
6         rain shower    169
11              sleet     11
15       sleet shower      2
13        snow shower      6

In [15]:
df['weco'].value_counts(dropna=False)

weco
fair                 4971
cloudy               4137
overcast             2835
light rain           1957
clear                 829
rain                  262
rain shower           169
                      159
fog                   157
heavy rain shower     130
heavy rain             51
sleet                  11
lihgt snowfall          6
snow shower             6
freezing rain           2
sleet shower            2
Name: count, dtype: int64

In [16]:
df

                  weco
timestamp
1656896400        fair
1685127600       clear
1622311200        fair
1666148400      cloudy
1624255200  light rain
...                ...
1676451600      cloudy
1635807600        fair
1630807200      cloudy
1629262800    overcast
1668686400  light rain

[15684 rows x 1 columns]

In [17]:
df.to_csv('data/webscraping.csv')